anyio==4.12.1
cint==1.0.0
kaitaistruct==0.11
requests==2.32.5
intervaltree==3.2.1
multidict==6.7.1
click==8.3.1
polyfile-weave==0.5.9
diskcache==5.6.3
certifi==2026.2.25
platformdirs==4.9.2
fickling==0.1.8
jsonschema-specifications==2025.9.1
gql==4.0.0
pydantic==2.12.5
propcache==0.4.1
networkx==3.6.1
protobuf==6.33.5
jsonschema==4.26.0
idna==3.11
pdfminer.six==20260107
cffi==2.0.0
tenacity==9.1.4
pillow==12.1.1
httpcore==1.0.9
chardet==6.0.0.post1
charset-normalizer==3.4.4
graphql-core==3.2.7
h11==0.16.0
gitdb==4.0.12
pycparser==3.0
filelock==3.24.3
PyYAML==6.0.3
sortedcontainers==2.4.0
abnf==2.2.0
pydantic_core==2.41.5
urllib3==2.6.3
typing_extensions==4.15.0
weave==0.52.29
Jinja2==3.1.6
referencing==0.37.0
MarkupSafe==3.0.3
wandb==0.25.0
GitPython==3.1.46
graphviz==0.21
attrs==25.4.0
packaging==26.0
httpx==0.28.1
cachetools==7.0.1
smmap==5.0.2
backoff==2.2.1
sentry-sdk==2.53.0
typing-inspection==0.4.2
annotated-types==0.7.0
cryptography==46.0.5
rpds-py==0.30.0
yarl==1.22.0
